# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Directories created by `hack/` scripts
vendordiff.patch

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Directory of IDE settings
*.idea/*
*.vscode/*

# wni files
tools/windows-node-installer/wni
windows-node-installer.json
winworker*
