
{
    "cniVersion":"0.2.0",
    "name":"OpenShiftNetwork",
        "type":"win-overlay",
 "capabilities": {
        "dns": true
    },
    "ipam": {
        "type": "host-local",
        "subnet": "{{ ovn_host_subnet.stdout }}"
    },
        "policies":[
            {
                "name":"EndpointPolicy",
                "value":{
                    "Type":"OutBoundNAT",
                    "ExceptionList":[
                        "{{ service_network_cidr.stdout }}"
                    ]
                }
            },
            {
                "name":"EndpointPolicy",
                "value":{
                    "Type":"ROUTE",
                    "DestinationPrefix":"{{ service_network_cidr.stdout }}",
                    "NeedEncap":true
                }
            }
        ]
}
